.movies-card-list {
  display: grid;
  width: min-content;
  grid-template-columns: repeat(auto-fill, minmax(364px, 1fr));
  grid-auto-rows: 281px;
  gap: 37px 24px;
  max-width: 100%;
  padding: 0 25px;
  box-sizing: border-box;
  margin: 80px auto 0 auto;
}

.movies-card-list_saved {
  padding-bottom: 247px;
}

@media screen and (max-width: 868px) {

  .movies-card-list {
    grid-template-columns: repeat(auto-fill, minmax(339px, 1fr));
    grid-auto-rows: 262px;
    gap: 30px;
    max-width: 100%;
    box-sizing: border-box;
    margin: 62px auto 0 auto;
    padding: 0 5px;
  }

  .movies-card-list_saved {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 520px) {

  .movies-card-list {
    width: 100%;
    max-width: 300px;
    grid-template-columns: 1fr;
    grid-auto-rows: 237px;
    column-gap: 0;
    row-gap: 14px;
    margin: 50px 10px 0 10px;
    padding: 0;
  }

  .movies-card-list_saved {
    padding-bottom: 115px;
  }



}