.moviesCard {
  display: flex;
  flex-direction: column;
  max-width: 364px;
  background: #FDFDFD;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.moviesCard__image {}

.moviesCard__title-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 9px 16px 0 16px;
  align-items: center;
}

.moviesCard__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  line-clamp: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 12px;

}

.moviesCard__heart {
  width: 30px;
  height: 30px;
  background-color: white;
  border: none;
  background-image: url("../../images/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.moviesCard__heart_active {
  background-image: url("../../images/heart-active.svg");
}

.moviesCard__duration {
  margin-top: 10px;
  margin-left: 16px;
  align-self: flex-start;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #A0A0A0;
}