.badWay {
  height: calc(100vh - 18px);
  display: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badWay__error-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.badWay__fourOfour {
  font-size: 140px;
  line-height: 169px;
  font-weight: 400;
}

.badWay__caption {
  margin-top: 5px;
  font-size: 16px;
  line-height: 19px;
}

.badWay__return-link {
  bottom: 60px;
  position: absolute;
  color: black;
  font-size: 14px;
  line-height: 17px;
}