.bad-way {
  height: calc(100vh - 18px);
  display: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bad-way__error-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bad-way__fourOfour {
  font-size: 140px;
  line-height: 169px;
  font-weight: 400;
}

.bad-way__caption {
  margin-top: 5px;
  font-size: 16px;
  line-height: 19px;
}

.bad-way__return-link {
  bottom: 60px;
  position: absolute;
  color: black;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 768px) {
  .bad-way__return-link {
    bottom: 222px;
  }

}


@media screen and (max-height: 868px) {
  .bad-way__return-link {
    bottom: 122px;
  }

}

