.search-form {
  margin: 0 auto;
  padding: 78px 0 69px 0;
  display: flex;
  max-width: 1140px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #E8E8E8;
  box-sizing: border-box;
}

.search-form__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 46px;
  background-color: #F9F9F9;
  padding: 0 6px 0 22px;
  margin-bottom: 41px;
  border-radius: 23px;
  box-sizing: border-box;
}

.search-form__input {
  width: 100%;
  height: 100%;
  background-color: #F9F9F9;
  border: none;
  outline: none;
}

.search-form__input::placeholder {
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #A0A0A0;
}

.search-form__btn {
  width: 34px;
  height: 34px;
  min-width: 34px;
  border: none;
  border-radius: 17px;
  background-color: black;
  background-image: url("../../images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}

@media screen and (max-width: 1200px) {
  .search-form {
    padding: 78px 70px 69px 78px;
  }

}

@media screen and (max-width: 768px) {
  .search-form {
    max-width: 100%;
    padding: 98px 30px 69px 30px;
    margin: 0;
  }
}

@media screen and (max-width: 520px) {
  .search-form {
    padding: 98px 14px 49px 14px;
    margin: 0;
  }

  .search-form__input::placeholder {
    font-weight: 400;
    font-size: 11px;
    color: #A0A0A0;
  }

}