.filter-checkbox {
  display: flex;
  cursor: pointer;
}

.filter-checkbox__tumbler {
  border-radius: 10px;
  width: 36px;
  height: 20px;
  background-color: #EBEBEB;
  background-image: url("../../images/checkbox-thumb.svg");
  background-repeat: no-repeat;
  background-position: 10% 50%;
  transition: 0.2s ease-out;
}

.filter-checkbox__tumbler_active {
  background-color: #2BE080;
  background-image: url("../../images/checkbox-thumb-active.svg");
  background-position: 90% 50%;
}

.filter-checkbox__caption {
  margin-left: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.7;
  transition: 0.2s ease-out;
}

.filter-checkbox__caption_active {
  margin-left: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  opacity: 1;
}

@media screen and (max-width: 520px) {
  .filter-checkbox__caption {
    font-size: 11px;
  }
}