.footer {}

.footer__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  padding-bottom: 20px;
  border-bottom: 1px solid #E8E8E8;
  text-align: center;
  color: #A0A0A0;
}

.footer__wrapper {
  height: 56px;
  margin: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_c-year {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__links-wrapper {

}

.footer__link {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: black;
  text-decoration: none;
  margin-left: 20px;

}